@import "tailwindcss";

@theme {
--color-primary:#013252;
--color-green:#C8FB57;
--color-blue: #1B6392;
--color-blue-light: #3b82f680;
--color-gray: #808080;
--color-gray-light: #f3f4f6;
--color-gray-dark: #1c1c1e;
--color-gray-dark-medium:  #1c1c1ed2;
--color-gray-medium: #404040;
--color-white: #FFFF;
--color-black:	#191C1F; 
--color-orange:	#FA8232;
--color-yellow : #EFD33D; 
--color-red-500 : #EE5858; 
 
}